<section class="chat">

	<article class="chatWindow">

		<!-- Liste des utilisateurs connectés -->
		<div id="memberList">
			<div id="opacityId">
				<h3>Online users</h3>
				<div ng-repeat="member in chat.membersList">
					<span class="online"><i class="fa fa-circle" aria-hidden="true"></i></span>
					{{member.name}} <span ng-show="member.you"><em>(you)</em></span>
				</div>
			</div>
		</div>

		<!-- Affichage des messages -->
		<div class="chatMessages" id="scrollW" scroll-glue="chat.glue">
			<div class="item" ng-repeat="message in chat.messages | orderBy: 'timestamp'">
				<span ng-class="{online: message.online}"><i class="fa fa-circle" aria-hidden="true"></i></span>
				<span class="userName"> {{message.user_name}} : </span>
				<span class="messContent">{{message.content}}</span>
				<span class="date"> ~ {{message.date}}</span>
			</div>
		</div>

	</article>

	<!-- Envoi de mesage -->
	<div class="sendMess">
		<form ng-submit="chat.send()" id="formSend">
			<input type="text" class="new" ng-model="chat.newMess" placeholder="> Enter your message">
			<button class="btn send" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
		</form>
	</div>

</section>