<section class="chat">
	<div class="chatWindow">
		<div class="chatMessages" id="scrollW" scroll-glue="glued">
			<ul>
				<li ng-repeat="message in chat.messages | orderBy: 'timestamp'">
					{{message.user_name}}<br>
					{{message.content}}<br>
					{{message.date}}
				</li>
			</ul>
		</div>
	</div>
	<div class="sendMess">
		<form ng-submit="chat.send()">
			<input type="text" ng-model="chat.newMess">
			<button class="btn send" type="submit">Send</button>
		</form>
	</div>
</section>
<section class="guestList">
	
</section>