* {
	box-sizing : border-box;
	transition : all 0.1s;
}

html, body, .contenu { height : 100%; }
main {height : 80%;}

.contenu { opacity : 0;}
.contenu.active { opacity : 1;}

body {
	font-family     : "Lato", Helvetica, Arial, sans-serif;
	color           : #222;
	background-color: #2e2d3e;
}

ul { list-style : none; padding : 0;}

.clear { clear : both; }

header {
	text-align : center;
	height : 20%;
	position : relative;
	max-width : 600px;
	margin : 0 auto;
	h1 { margin : 0; height : 100%; display: inline;}
	img { max-height: 100%;}
}

kw-login, kw-chat {
	display  : block;
	width    : 100%;
	max-width: 600px;
	height   : 100%;
	margin   : 0 auto;
}
kw-login {
	h2 {
		color : #FFF;
	}
}
kw-chat .chat {
	height : 100%;
	padding: 10px;
	.chatWindow{
		height          : 80%;
		background-color: #fff;
		border-radius   : 7px;
		position : relative;
		display         : flex;
		flex-direction  : column-reverse;
	}
	#memberList {
		position : absolute;
		top : 0;
		left : 0;
		width : 0%;
		height : 100%;
		border-radius : 7px;
		background-color : #ffb563;
		transition : all 0.3s;
		#opacityId {
			opacity : 0;
			padding : 10px 5px;
		}
	}
	.chatMessages {
		padding 		 : 0 5px; 
		overflow-y   : auto;
		height       : 100%;
		border-radius: 7px;
		border       : 2px solid #dedede;
		overflow-wrap: break-word;
	}
	.sendMess {
		height : 20%;
	}
	
}

input {
    &[type="text"], &[type="password"] {
      height: 40px;
      padding: 5px 8px;
      background-color: #FFF;
      border-radius: 7px;
      border: 2px solid #dedede;
      box-shadow: none;
      width: 90%;
      margin: 5px auto;
    }
    &[type="text"]:focus, &[type="password"]:focus {
      border: 2px solid #d53939;
      outline: 0;
    }
    &.new { width : 80%;}
 }

.login-form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.valid, .error {
  width: 90%;
  margin: 5px auto;
  padding: 10px;
  border-radius : 7px;
  font-weight : 700;
}

.valid {
  background-color: #ffb563;
}

.error {
  background-color: #d53939;
}

.btn {
	padding : 10px 20px;
	background-color : transparent;
	margin : 10px 7px;
	border-radius : 25px;
	cursor : pointer;
	&.send {
		border : 2px solid #d53939;
		color : #d53939;
		&:hover {
			background-color : #d53939;
			color : #FFF;
		}
	}
	&.second {
		border : 2px solid #FFB563;
		color : #FFB563;
		&:hover {
			background-color : #FFB563;
			color : #FFF;
		}
	}
	&.third {
		border : 2px solid #7B3C59;
		color : #7B3C59;
		&:hover {
			background-color : #7B3C59;
			color : #fff;
		}
	}
}

.item {
	color : #dedede;
	margin : 10px 0;
	.userName {
		font-weight : 700;
		color: #333;
	}
	.messContent {
		color : #333;
	}
	.date {
		color : #aeaeae;
		font-style : italic;
		font-size : 0.8em;
	}
	.online {
		color : #99f899;
    font-size : 0.8em !important;
	}
}

.btn.members {
	position : absolute;
	bottom : 0;
	left : 0;
}
.btn.logoff {
	position : absolute;
	bottom : 0;
	right : 0;
}